@import 'variable';
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    background-color: #eef0f0;
}
.cityAll, .warehousesAll{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}
.cityAll, .warehousesAll::-ms-expand {
    display: none;
}
.form-group {
    width: 400px;
    margin: 50px auto;
    padding: 0px 0px 20px 0px;
    background-color: $second_color;
    text-align: center;
    border-radius: 20px 20px 5px 5px ;
    box-shadow: $shadow;
    .form-head {
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 5px 15px;
        border-radius: 20px 20px 0px 0px ;
        background-color: $prim_color;
        .np-logo{
            transition: all 0.3s ease-in-out;
        }
        .np{
            margin-left: 8px;
        }
        #noCity, #noWarehouses{
            height: 40px;
            width: 100%;
            margin-left: 8px;
            display: none;
            align-items: center;
            .line{
                width: 2px;
                height: 100%;
                background-color:$second_color;
            }
            span {
                margin-left: 10px;
                text-align: center;
                font-family: $font;
                font-weight:500;
                font-size: 16px;
                color: #FEFFFF;
            }
        }
    }
    .search, .search_warehouses{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
      input{
        width: 100%;
      }
    }
}
.select-wrapper{
margin-top: 10px;
padding: 0px 20px;
}
.result{
min-height: 10px;
height: auto;
background-color: $prim_color;
width: 400px;
border-radius: 5px;
font-family: $font;
color: $prim_color;
font-weight:500;
font-size: 18px;
text-align: center;
margin: 0px auto;
padding: 0px 5px;
box-shadow: $shadow;
.result-form {
    background-color: $second_color;
    min-height: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

.np-logo:hover{
 transform: scaleX(-1);
}
.np-logo:in-range{
    transform: scaleX(-1);
}